@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
// @import url(./Resources/images/wickedbackground.png);

$title-font: "Mooli", sans-serif;
$primary-font: "Montserrat", "sans serif";
$secondary-font: "Open Sans", "Arial";
$button-colour: white;

@media screen and (min-width: 1500px) {
  .floating {
    display: flex;

    &__name {
      padding-left: 50px;
      display: flex;
      align-self: center;
      font-family: $title-font;
      font-size: 32px;
    }

    &__picture {
      max-width: 400px;
      max-height: 600px;
      display: flex;
      align-self: flex-end;
    }
  }
}
@media screen and (max-width: 1499px) {
  .floating {
    display: flex;
    &__name {
      padding-left: 50px;
      display: flex;
      align-self: center;
      font-family: $title-font;
      font-size: 25px;
    }

    &__picture {
      margin: 5vw;
      max-width: 300px;
      max-height: 500px;
      display: flex;
      align-self: flex-start;
    }
  }
}
@media screen and (max-width: 825px) {
  .floating {
    display: flex;

    &__name {
      padding-left: 50px;
      display: flex;
      align-self: center;
      font-family: $title-font;
      font-size: 10px;
    }

    &__picture {
      margin: 5vw;
      max-width: 150px;
      max-height: 250px;
      display: flex;
      align-self: flex-start;
    }
  }
}
