@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
// @import url(./Resources/images/wickedbackground.png);

$title-font: "Mooli", sans-serif;
$primary-font: "Montserrat", "sans serif";
$secondary-font: "Open Sans", "Arial";
$button-colour: white;

@media screen and (max-width: 999px) {
  .skills__container {
    width: 100vw;
    margin: 20px;
    &--header {
      font-family: $secondary-font;
      display: flex;
      justify-content: space-around;
    }
  }

  .skills-list {
    display: grid;
    width: 100vw;
    grid-template-areas:
      "picture1 picture2 picture3"
      "text1 text2 text3"
      "picture4 picture5 picture6"
      "text4 text5 text6"
      "picture7 picture8 picture9"
      "text7 text8 text9";
    // "picture10 picture11"
    // "text10 text11";

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 100px 1fr 100px 1fr 100px;
    justify-items: center;

    &--picture1 {
      grid-area: picture1;
      padding: 5px;
    }
    &--picture2 {
      grid-area: picture2;
      padding: 5px;
    }
    &--picture3 {
      grid-area: picture3;
      padding: 5px;
    }
    &--picture4 {
      grid-area: picture4;
      padding: 5px;
    }
    &--picture5 {
      grid-area: picture5;
      padding: 5px;
    }
    &--picture6 {
      grid-area: picture6;
      padding: 5px;
    }
    &--picture7 {
      grid-area: picture7;
      padding: 5px;
    }
    &--picture8 {
      grid-area: picture8;
      padding: 5px;
    }
    &--picture9 {
      grid-area: picture9;
      padding: 5px;
    }
    &--picture10 {
      display: none;
      width: 50px;
      grid-area: picture10;
      padding: 5px;
    }
    &--picture11 {
      display: none;
      width: 50px;
      grid-area: picture11;
      padding: 5px;
    }
    /*----------------------------------------------------*/

    &--item1 {
      grid-area: text1;
      align-self: self-start;
    }
    &--item2 {
      grid-area: text2;
      align-self: self-start;
    }
    &--item3 {
      grid-area: text3;
      align-self: self-start;
    }
    &--item4 {
      align-self: self-start;
      grid-area: text4;
    }
    &--item5 {
      align-self: self-start;
      grid-area: text5;
    }
    &--item6 {
      align-self: self-start;
      grid-area: text6;
    }
    &--item7 {
      align-self: self-start;
      grid-area: text7;
    }
    &--item8 {
      align-self: self-start;
      grid-area: text8;
    }
    &--item9 {
      align-self: self-start;
      grid-area: text9;
    }
    &--item10 {
      display: none;
      align-self: self-start;
      grid-area: text10;
    }
    &--item11 {
      display: none;
      align-self: self-start;
      grid-area: text11;
    }
  }
  .skills__list--picture,
  .skills__list--item {
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 1000px) {
  .skills__container {
    margin: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    &--header {
      font-family: $secondary-font;
    }
  }
  .skills-list {
    position: relative;
    overflow: hidden;
    height: 200px;
    margin-top: 50px;
    justify-self: center;
    width: 100%;
    padding: 0 1vh;
    display: grid;
    grid-template-areas:
      "picture1 picture2 picture3 picture4 picture5 picture6 picture7 picture8 picture9 picture10 picture11"
      "text1 text2 text3 text4 text5 text6 text7 text8 text9 text10 text11";
    font-family: $secondary-font;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;

    &--picture10 {
      width: 70px;
      grid-area: picture10;
      padding: 5px;
    }
    &--picture11 {
      width: 70px;
      grid-area: picture11;
      padding: 5px;
    }
  }
}

@media screen and (min-width: 1500px) {
  .skills__container {
    margin: 100px 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    &--header {
      font-family: $secondary-font;
    }
    &--paragraph {
      display: flex;
      font-size: 24px;
      padding: 0px 100px;
    }
  }

  .skills-list {
    margin-top: 50px;

    justify-self: center;
    width: 100%;
    padding: 0 1vh;
    display: grid;
    grid-template-areas:
      "picture1 picture2 picture3 picture4 picture5 picture6 picture7 picture8 picture9 picture10 picture11"
      "text1 text2 text3 text4 text5 text6 text7 text8 text9 text10 text11";
    font-family: $secondary-font;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1fr 1fr;
    align-content: center;
    justify-items: center;
  }
}
