@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@500&display=swap");

$primary-font: "Montserrat", "sans serif";
$secondary-font: "Open Sans", "Arial";
$button-colour: rgb(255, 255, 255);

.card {
  position: relative;
  padding: 5px;
  margin: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  &__top {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    &--image {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      transition: all 0.3s ease-in-out;
      z-index: 20;
      box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.49);
    }
  }

  &__preview {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    height: 12rem;
    width: 100%;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3);
  }
  &__language {
    font-family: $primary-font;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  }

  &__description {
    width: 100%;
    position: absolute;
    z-index: 20;
    top: 50%;
    padding: 100px 20px;
    transform: translate(100%, -50%);
    margin-bottom: 20px;

    width: 100%;

    height: 4rem;

    &--cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
    }
  }

  &__buttons--element1 {
    display: flex;
    align-items: center;
    border: none;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    font-family: $secondary-font;
    padding: 7px 15px;
    background-color: $button-colour;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  &__buttons--element2 {
    box-shadow: 0 4px 6px rgba(15, 15, 15, 0.2);
    display: flex;
    align-items: center;
    border: none;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    font-family: $secondary-font;
    padding: 7px 15px;
    background-color: $button-colour;
  }

  &__buttons {
    display: flex;
  }

  &__img {
    margin-top: 10px;
    height: 10rem;
    width: auto;
    max-height: 300px;
    max-width: 100%;
    margin-bottom: 10px;
    align-self: center;
  }
}

.code-icon {
  margin-top: 2px;
  margin-left: 2px;
  display: flex;
  align-self: center;
}
a {
  text-decoration: none;
}
.card-container :hover {
  background-color: rgb(204, 223, 230);
}

.card:hover .card__description {
  font-family: $primary-font;
  margin-left: 10px;
  padding-bottom: 70px;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  z-index: 1;
  width: 95%;
  display: flex;
  align-self: start;
  transform: translate(0%, -60%);
  transition: all 0.6s ease;
  opacity: 0.9;
  background-color: rgb(146, 196, 240);
}

.card:hover .card__img {
  height: 70%;
  filter: blur(1.4px);
  transform: scale(1.5);
  overflow: hidden;
  transition: all 0.3s linear;
  box-shadow: inset -6px -1px 32px 0px rgba(0, 0, 0, 0.75);
}

.card__header1 {
  font-weight: 600;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 192, 75);
  font-family: $primary-font;
  font-size: 24px;
  display: flex;
  grid-area: title;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3vh;
}
