@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@500&display=swap");

$primary-font: "Montserrat", "sans serif";
$secondary-font: "Open Sans", "Arial";
$button-colour: rgb(255, 255, 255);

.card {
  position: relative;
  padding: 5px;
  margin: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;

  &__preview {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    height: 12rem;
    width: 100%;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3);
  }
  &__language {
    font-family: $primary-font;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  }

  &__description {
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
    background-color: rgb(255, 68, 0);
    height: 4rem;

    &--cover {
      /* ...existing styles... */
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none; /* Hide it by default */
    }
  }

  &__header1 {
    font-family: $primary-font;
    font-size: 24px;
    display: flex;
    grid-area: title;
    align-self: center;
    justify-content: center;
  }
  &__buttons--element1 {
    display: flex;
    align-items: center;
    border: none;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    font-family: $secondary-font;
    padding: 7px 15px;
    background-color: $button-colour;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  &__buttons--element2 {
    box-shadow: 0 4px 6px rgba(15, 15, 15, 0.2);
    display: flex;
    align-items: center;
    border: none;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    font-family: $secondary-font;
    padding: 7px 15px;
    background-color: $button-colour;
  }

  &__buttons {
    display: flex;
  }

  &__img {
    margin-top: 10px;
    height: 10rem;
    width: auto;
    max-height: 300px;
    max-width: 100%;
    margin-bottom: 10px;
    align-self: center;
  }

  // &__title {
  //   margin: 10px 0px;
  //   align-self: start;
  //   justify-self: start;
  // }
  // &__header1 {
  //   align-self: flex-start;
  //   justify-self: start;
  // }
  // &__header2 {
  //   align-self: start;
  //   justify-self: start;
  //   font-size: 14px;
  // }
  // &__paragraph {
  //   padding: 10px 0px;
  //   align-self: flex-start;
  // }
}

.code-icon {
  margin-top: 2px;
  margin-left: 2px;
  display: flex;
  align-self: center;
}
a {
  text-decoration: none;
}
.card-container :hover {
  background-color: rgb(204, 223, 230);
}

.card:hover .card__description--cover {
  display: block;
}
