@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@500&display=swap");

$primary-font: "Montserrat", "sans serif";
$secondary-font: "Open Sans", "Arial";
$button-colour: white;

.card {
  padding: 5px;
  margin: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-self: center;

  &__header1 {
    font-size: 36px;
    display: flex;
    grid-area: title;
    align-self: center;
    justify-content: center;
  }
  &__buttons--element1 {
    display: flex;
    align-items: center;
    border: 1px solid;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    font-family: $secondary-font;
    padding: 7px 15px;
    background-color: $button-colour;
  }

  &__buttons--element2 {
    display: flex;
    align-items: center;
    border: 1px solid;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    font-family: $secondary-font;
    padding: 7px 15px;
    background-color: $button-colour;
  }
  &__buttons {
    display: flex;
    flex-direction: row;
  }

  &__img {
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 100%;
    margin-bottom: 10px;
    align-self: self-start;
  }

  &__title {
    margin: 10px 0px;
    align-self: start;
    justify-self: start;
  }
  &__header1 {
    align-self: flex-start;
    justify-self: start;
  }
  &__header2 {
    align-self: start;
    justify-self: start;
    font-size: 14px;
  }
  &__paragraph {
    padding: 10px 0px;
    align-self: flex-start;
  }
}
