@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@500&display=swap");

$primary-font: "Montserrat", "sans serif";
$secondary-font: "Open Sans", "Arial";
$button-colour: white;

.message {
  display: flex;
  align-self: center;
  color: rgb(2, 36, 226);
  font-size: 16px;
}

@media screen and (min-width: 825px) {
  .message {
    display: none;
  }
  .project-header {
    font-family: $secondary-font;
    font-weight: 600;
    margin: 50px 0px;
    display: flex;
    justify-content: center;
  }
  .project-list {
    width: 100vw;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    overflow: hidden;
    justify-items: center;
    align-items: start;

    &__background {
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      z-index: -1;
    }
  }
}
