@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
// @import url(./Resources/images/wickedbackground.png);

$title-font: "Mooli", sans-serif;
$primary-font: "Montserrat", "sans serif";
$secondary-font: "Open Sans", "Arial";
$button-colour: white;

* {
  box-sizing: border-box;
}
@media screen and (max-width: 825px) {
  .App {
    a {
      text-decoration: none;
      color: red;
    }
    margin: 20px;
    // display: grid;
    // grid-template-rows: 1fr;
    // grid-template-columns: 1fr;
    height: 100vh;
  }
  .about__container {
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__face {
      border-radius: 50px;
      width: 240px;
      height: 350px;
    }

    &__header {
      padding-top: 25px;
    }
  }

  .intro {
    &__picture {
      display: none;
    }
    &__container {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    &__name {
      font-family: $title-font;
      display: flex;
      justify-content: center;
    }
    &__position {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
    }
  }

  .skills__container {
    margin: 20px;
    &--header {
      font-family: $secondary-font;
    }
  }

  .skills-list {
    display: grid;
    width: 100%;
    grid-template-areas:
      "picture1 picture2 picture3 "
      "text1 text2 text3 "
      "picture4 picture5 picture6 "
      "text4 text5 text6 "
      "picture7 picture8 picture9"
      "text7 text8 text9";

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 100px 1fr 100px 1fr 100px;
    justify-items: center;
    &--picture1 {
      grid-area: picture1;
      padding: 5px;
    }
    &--picture2 {
      grid-area: picture2;
      padding: 5px;
    }
    &--picture3 {
      grid-area: picture3;
      padding: 5px;
    }
    &--picture4 {
      grid-area: picture4;
      padding: 5px;
    }
    &--picture5 {
      grid-area: picture5;
      padding: 5px;
    }
    &--picture6 {
      grid-area: picture6;
      padding: 5px;
    }
    &--picture7 {
      grid-area: picture7;
      padding: 5px;
    }
    &--picture8 {
      grid-area: picture8;
      padding: 5px;
    }
    &--picture9 {
      grid-area: picture9;
      padding: 5px;
    }
    /*----------------------------------------------------*/
    &--item1 {
      grid-area: text1;
      align-self: self-start;
    }
    &--item2 {
      grid-area: text2;
      align-self: self-start;
    }
    &--item3 {
      grid-area: text3;
      align-self: self-start;
    }
    &--item4 {
      align-self: self-start;
      grid-area: text4;
    }
    &--item5 {
      align-self: self-start;
      grid-area: text5;
    }
    &--item6 {
      align-self: self-start;
      grid-area: text6;
    }
    &--item7 {
      align-self: self-start;
      grid-area: text7;
    }
    &--item8 {
      align-self: self-start;
      grid-area: text8;
    }
    &--item9 {
      align-self: self-start;
      grid-area: text9;
    }
  }
  .skills__list--picture,
  .skills__list--item {
    width: 100%;
    text-align: center;
  }

  .research {
    &__image {
      margin: 10px 20px;
      display: flex;
      justify-content: center;
      height: 200px;
      max-height: 100%;
      width: auto;
    }

    &__header {
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 826px) {
  .intro {
    position: relative;
    overflow: hidden;
    // background-image: url("../Resources/images/wickedbackground.png");
    // background-size: cover;
    height: 1000px;
    // background-color: rgb(14, 101, 231);
    display: grid;
    grid-template-rows: 60px 500px;
    grid-template-areas:
      " top "
      " bottom ";
    width: 100vw;
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      z-index: -1;
    }

    &__navbar {
      grid-area: top;
    }

    &__container {
      grid-area: bottom;
      padding-left: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      &--element {
        padding-left: 40px;
        display: flex;
        align-self: center;
        height: 150px;
      }
    }
    &__name {
      padding-left: 50px;
      display: flex;
      align-self: center;

      font-family: $title-font;
      font-size: 32px;
    }

    &__position {
      font-size: 30px;
    }
    &__picture {
      max-width: 400px;
      max-height: 600px;
      display: flex;
      align-self: flex-end;
    }
  }
  .App {
    // display: grid;
    // grid-template-rows: 1fr;
    // grid-template-columns: 1fr;
    height: 100vh;
  }
  .about__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
    grid-template-areas:
      "heading heading"
      "picture paragraph1"
      "picture paragraph2";
    &__face {
      padding-right: 50px;
      justify-self: center;
      align-self: flex-end;
      grid-area: picture;
      padding-left: 20px;
      border-radius: 10px;
      height: 400px;
    }

    &__paragraph1 {
      grid-area: paragraph1;
      font-family: $secondary-font;
      align-self: self-end;
    }
    &__paragraph2 {
      grid-area: paragraph2;
      font-family: $secondary-font;
    }
    &__header {
      grid-area: heading;
      align-self: center;
      justify-self: center;
      font-family: $primary-font;
      font-size: 32px;
      align-self: flex-end;
    }
  }
  .skills__container {
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    &--header {
      font-family: $secondary-font;
    }
  }
  .skills-list {
    margin-top: 50px;

    justify-self: center;
    width: 100%;
    padding: 0 1vh;
    display: grid;
    grid-template-areas:
      "picture1 picture2 picture3 picture4 picture5 picture6 picture7 picture8 picture9"
      "text1 text2 text3 text4 text5 text6 text7 text8 text9";
    font-family: $secondary-font;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr 1fr;
    align-content: center;
    justify-items: center;
  }

  .research {
    &__image {
      margin: 50px 20px;
      display: flex;
      justify-content: center;
      height: 200px;
      max-height: 100%;
      width: auto;
    }

    &__header {
      display: flex;
      justify-content: center;
    }

    &__paragraph {
      margin: 0px 10vw;
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (min-width: 1500px) {
  // .intro {
  //   margin: 10px 40px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   &__name {
  //     font-size: 32px;
  //   }
  //   &__position {
  //     font-size: 30px;
  //   }
  //   &__picture {
  //     display: flex;
  //     align-items: end;
  //     max-width: 600px;
  //   }
  // }

  .about__container {
    margin: 0px 10vw;
    font-size: 25px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-areas:
      "smth heading"
      "picture paragraph1"
      "picture paragraph2";
    &__face {
      justify-self: center;
      align-self: flex-end;
      grid-area: picture;
      padding-left: 20px;
      max-width: 450px;
      height: auto;
    }

    &__paragraph1 {
      grid-area: paragraph1;
      font-family: $secondary-font;
      align-self: center;
    }
    &__paragraph2 {
      grid-area: paragraph2;
      font-family: $secondary-font;
    }
    &__header {
      padding-right: 10vw;
      grid-area: heading;
      align-self: flex-end;
      justify-self: center;
      font-family: $primary-font;
      font-size: 40px;
    }
  }

  .skills__container {
    margin: 40px 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    &--header {
      font-family: $secondary-font;
    }
    &--paragraph {
      font-size: 20px;
    }
  }

  .skills-list {
    margin-top: 50px;

    justify-self: center;
    width: 100%;
    padding: 0 1vh;
    display: grid;
    grid-template-areas:
      "picture1 picture2 picture3 picture4 picture5 picture6 picture7 picture8 picture9"
      "text1 text2 text3 text4 text5 text6 text7 text8 text9";
    font-family: $secondary-font;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr 1fr;
    align-content: center;
    justify-items: center;
  }
}
