@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
// @import url(./Resources/images/wickedbackground.png);

$title-font: "Mooli", sans-serif;
$primary-font: "Montserrat", "sans serif";
$secondary-font: "Open Sans", "Arial";
$button-colour: white;

html,
.App {
  width: 100%;
}
* {
  box-sizing: border-box;
}
@media screen and (max-width: 825px) {
  .App {
    a {
      text-decoration: none;
      color: black;
    }

    margin: 20px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
  }
  .about__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__face {
      display: none;
      border-radius: 50px;
      width: 240px;
      height: 350px;
    }

    &__header {
      padding-top: 25px;
    }

    &__paragraph1 {
      width: 90%;
      font-size: 16px;
      grid-area: paragraph1;
      font-family: $secondary-font;
    }
    &__paragraph2 {
      width: 90%;
      font-size: 16px;
      grid-area: paragraph2;
      font-family: $secondary-font;
    }
  }

  .intro {
    position: relative;
    overflow: hidden;
    height: 200px;

    width: 100vw;
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 200px;
      object-fit: cover;
      z-index: -1;
    }

    &__navbar {
      grid-area: top;
    }

    &__container {
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: center;

      &--element {
        padding-left: 40px;
        display: flex;
        align-self: center;
        height: 150px;
      }
    }
    &__name {
      padding-left: 50px;
      display: flex;
      align-self: center;

      font-family: $title-font;
      font-size: 32px;
    }

    &__position {
      font-size: 30px;
    }
    &__picture {
      max-width: 400px;
      max-height: 600px;
      display: flex;
      align-self: flex-end;
    }
  }
  .projects-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .research {
    width: 100%;
    &__image {
      margin: 10px 20px;
      display: flex;
      justify-content: center;
      height: 200px;
      max-height: 100%;
      width: auto;
    }
    &__paragraph {
      margin: 0px 5vw;
      font-family: $secondary-font;
    }
    &__header {
      margin-bottom: 20px;
      font-size: 16px;
      display: flex;
      align-self: center;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 826px) {
  .intro {
    position: relative;
    overflow: hidden;
    height: 400px;
    display: grid;
    grid-template-rows: 60px 500px;
    grid-template-areas:
      " top "
      " bottom ";
    width: 100vw;
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 50vh;
      object-fit: fill;
      z-index: -1;
    }

    &__navbar {
      grid-area: top;
    }

    &__container {
      grid-area: bottom;

      width: 100%;
      height: 400px;
      display: flex;
      justify-content: center;

      &--element {
        padding-left: 40px;
        display: flex;
        align-self: center;
        height: 150px;
      }
    }
    &__name {
      padding-left: 50px;
      display: flex;
      align-self: center;

      font-family: $title-font;
      font-size: 32px;
    }

    &__position {
      font-size: 30px;
    }
    &__picture {
      max-width: 400px;
      max-height: 600px;
      display: flex;
      align-self: flex-end;
    }
  }
  .App {
    // display: grid;
    // grid-template-rows: 1fr;
    // grid-template-columns: 1fr;
    height: 100vh;
    width: 100vw;
  }
  .about__container {
    margin: 50px 10vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 100px 300px 100px;
    grid-template-areas:
      " heading"
      "paragraph1"
      "picture"
      " paragraph2";
    &__face {
      padding-right: 50px;
      justify-self: center;
      align-self: center;
      grid-area: picture;
      padding-left: 20px;
      border-radius: 10px;
      height: 300px;
    }

    &__paragraph1 {
      font-size: 16px;
      grid-area: paragraph1;
      font-family: $secondary-font;
      align-self: self-end;
    }
    &__paragraph2 {
      font-size: 16px;
      grid-area: paragraph2;
      font-family: $secondary-font;
    }
    &__header {
      grid-area: heading;
      align-self: center;
      justify-self: center;
      font-family: $primary-font;
      font-size: 32px;
      align-self: flex-end;
    }
  }

  .research {
    width: 100%;
    &__image {
      margin: 50px 20px;
      display: flex;
      justify-content: center;
      height: 200px;
      max-height: 100%;
      width: auto;
    }

    &__header {
      display: flex;
      justify-content: center;
    }

    &__paragraph {
      font-family: $secondary-font;
      margin: 0px 10vw;
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (min-width: 1500px) {
  .about__container {
    margin: 5vh 10vw;
    font-size: 25px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-areas:
      "smth heading"
      "picture paragraph1"
      "picture paragraph2";
    &__face {
      justify-self: center;
      align-self: flex-end;
      grid-area: picture;
      padding-left: 20px;
      max-width: 450px;
      height: auto;
    }

    &__paragraph1 {
      font-size: 20px;
      grid-area: paragraph1;
      font-family: $secondary-font;
      align-self: center;
    }
    &__paragraph2 {
      font-size: 20px;
      grid-area: paragraph2;
      font-family: $secondary-font;
    }
    &__header {
      padding-right: 10vw;
      grid-area: heading;
      align-self: flex-end;
      justify-self: center;
      font-family: $primary-font;
      font-size: 40px;
    }
  }

  .research {
    width: 100%;
    &__image {
      margin: 50px 20px;
      display: flex;
      justify-content: center;
      height: 200px;
      max-height: 100%;
      width: auto;
    }

    &__header {
      display: flex;
      justify-content: center;
    }

    &__paragraph {
      font-family: $secondary-font;
      margin: 0px 10vw;
      display: flex;
      align-items: center;
    }
  }

  .intro {
    height: 500px;
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 500px;
      object-fit: fill;
      z-index: -1;
    }
  }
}
