@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@500&display=swap");

$primary-font: "Montserrat", "sans serif";
$secondary-font: "Open Sans", "Arial";
$button-colour: white;

@media screen and (max-width: 825px) {
  .navbar {
    display: none;
  }
}

@media screen and (min-width: 826px) {
  .navbar {
    margin-top: 20px;
    margin: 5px;
    margin-right: 40px;
    padding: 5px;
    font-family: $primary-font;
    display: flex;
    justify-content: center;
    justify-content: space-between;

    &__username {
      font-family: $secondary-font;
      padding-left: 90px;
      font-weight: bold;
      font-size: 14px;
    }

    &__list--element {
      font-family: "Montserrat";
      margin: 0;
      font-weight: bold;
      font-size: 16px;
      padding: 10px;

      display: inline;
    }

    &__list--button {
      font-family: "Montserrat";

      font-size: 16px;
      font-weight: bold;
      border-radius: 10px;
      height: 15px;
      text-decoration: none;
      display: inline;
    }

    &__list__icon {
      height: 15px;
      border-radius: 10px;
    }

    a {
      text-decoration: none;
      color: black;
    }

    a:hover {
      color: rgb(179, 1, 1);
    }
  }
}
